{% extends "base.html" %} {% block title %} Changed {% endblock %}

{% block content %}

<div class="container">
	<!-- Display username and actual role and create form to change only the role -->
	<h1>Change role</h1>
	<form method="POST">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username"
				name="username" value={{ user.username }} readonly>
		</div>
		<div class="form-group">
			<label for="role">Role</label> <select class="form-control"
				id="role" name="role">
				{% for role in roles %}
				<option value="{{ role.id }}" {% if role.id == user.role_id %}
					selected {% endif %}>{{ role.name }}</option>
				{% endfor %}
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

{% endblock %}
