{% extends "base.html" %} {% block title %} Changed {% endblock %}

{% block content %}
<h1>Create Item</h1>

	<form method="POST">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" value="{{ name }}" class="form-control" id="name" placeholder="Name">
			<select name="category_id" class="form-control">
				{% for category in categories %}
				<option value="{{ category.id }}">{{ category.name }}</option>
				{% endfor %}
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<!--List of all preset  -->
	<div class="row">
		<div class="col-md-12">
			<h2>Item list</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>ID</th>
						<th>Category</th>
						<th>Category Name</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
					<tr>
						<td>{{ item.name }}</td>
						<td>{{ item.id }}</td>
						<td>{{ item.category_id }}</td>
						<td>{{ category_list[item.category_id-1].name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</script>
{% endblock %}
